/* Add your custom styles here */
// .btn-primary{
//     background-color: #1d4367;
//     border-color: #1d4367;
//     color: #ffc00f;
//     &:hover{
//         background-color: #ffc00f;
//         border-color: #ffc00f;
//         color: #1d4367;
//     }
// }
// .bg-primary{
//     background-color: #1d4367 !important
// }

/* CSS to style the image within the header */
.header-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.act-image {
  width: 100%;
}

.bg-dark {
  background-color:#b20013 !important;
  // #d4001e #b20013
}

.navbar,
.footer {
  background-image: url('../images/second bg.jpg');
}

.category-description {
  background-image: url('../images/second bg.jpg');
  background-size: cover;
  width: 100%;
  min-height: 200px;
  margin-top: 60px;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.reviews-carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-image: url('../images/second bg.jpg');
  color: white;
}

.reviews-carousel-container {
  display: flex; /* Display review items in a row */
  transition: transform 0.3s ease; /* Smooth transition between reviews */
}

.review-item {
  flex: 0 0 100%; /* Make each review item take up the full width */
  padding: 60px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: #333;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// .read-more {
//   display: none;
// }

.description:hover .read-more {
  display: block;
}
