---
layout: title
---

<iframe title="vimeo-player" class="mb-4" src="https://player.vimeo.com/video/289281046?h=22a561529f" width="100%" height="500" frameborder="0" allowfullscreen></iframe> <div class="row">
  <div class="col-md-8 mb-5">
    <h2>What We Do</h2>
    <hr />
    <p>
      Finding it hard to sell tickets for the same old and tired acts your entertainment agency presents you with? Your venue and events can sell-out tickets and provide different acts every day of the year when you switch to Scotbase Entertainments. Guaranteed!
      Spice up your entertainment diary and book your entertainment from our large stable of professional artistes. Choose from our ever-expanding lists of vocalists and bands, tribute vocalists and bands, cabaret shows, comedians and Scottish shows.
      With over 40 years experience of booking quality entertainment to hotels, clubs and corporate events, we know the importance of having a partner with the same goal. We have gone from strength to strength as clients trust and respect our expertise. Moving with the times we have embraced the phenomenon of tribute acts and shows, allowing us to provide the very best entertainment at the very best price to our clients, new and old.
    </p>
    <p>
      Contact us today and together we can turn your entertainment revenue around.
    </p>
    <a class="btn btn-primary btn-lg" href="/contact">Contact Us &raquo;</a>
  </div>
  {% include sidebar.html %}
</div>

{% include entertainment.html %}
{% include carousel.html %}
<iframe width="100%" height="500" src="https://www.youtube.com/embed/kwOaqwIyKas?si=FyAYW6OFKMdkuAjb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="mt-4"></iframe>
{% include review-carousel.html %}
