---
layout: acts
image:  ../assets/images/male tribute acts slide.jpg
video_src: https://player.vimeo.com/video/287998869?h=9748f1d467
description: book male tribute acts to boost ticket sales for your event.we provide five star ACTS to suit all events and venues, large or small.
            call us now for advice INSTANT QUOTES & AVAILABILITY
---

<div class="row mt-4">
  {% for item in site.data.male-tributes %}
    <div class="col-md-4 mb-5 mt-5">
      <div class="card border-0 shadow h-100">
        <a href="/acts/{{ item.title | slugify }}">
          <img class="card-img-top" src="{{ item.image_src }}" alt="" />
        </a>
        {% if item.description %}
          <div class="card-body">
            <p class="card-text">{{ item.description }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>